
  <%= link_to "Sign in", new_user_session_path %> |

  <%= link_to "Sign up", new_user_registration_path %><br />


  <h1> Welcome!</h1>
  <br/>

<div id="welcome">
<h4>Club 1000Lbs is a personal weight lifting tracker. To say that you have made it to this club means that your max for Deadlift, Squat, and Bench Press is at least 1000Lbs.
</br>
</br>
Use this tool to help you track your progress as you perform those exercises. This app will draw a line graph for each exercise. Your home page will show you bar graphs of all your maxes.
</br>
</br>
When you finally make 1000Lbs,<br/> get ready to dance!</h4>

</div>