body {
  padding-top: 65px;
  text-align: center;
  background-color: #daebff;
  color: #4ec948;
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4 {
  color: #0f4697;
  font-family: 'Trade Winds', cursive;
}

#header {
  height: 50px;
  background: #2d437f;
  font-size: 30px;
  padding-top: 25px;
}


#header #home a {
  color: #9f8f34;
  font-size: 35px;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

#logo {
  font-family: 'Monoton', cursive;
}

#logo_num {
  font-size: 50px;
}

#header #sign_out a {
  color: #9f8f34;
  font-size: 15px;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}


.new a{
  color: #f00;
}